#main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #eee;
}

.display {
  width: 100%;
}

.calculator {
  /* width: 40vw; */
  max-width: 450px;
  min-width: 250px;
  height: auto;
}

.buttons {
  display: grid;
  gap: .15rem .15rem;
  grid-template-columns: repeat(4, 1fr);
}

.buttons > div {
  position: relative;
  transition-duration: .4s;
  overflow: hidden;

  transition: background .1s ease-in-out;
}

.buttons > div:after {
  content: "";
  background: #272727;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.buttons > div:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}


.buttons > div:hover {
  background: rgb(89, 89, 89);
}

#clear {
  grid-column: 1 / 3;
  background: #e23e3e;
}

#zero {
  grid-column: 1 / 3;
}

#equals {
  grid-row: 4 / 6;
  grid-column: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4aa2a5;
}

#multiply, #divide, #add, #subtract, #decimal {
  background: rgb(54, 67, 165);
}